<% if current_user %>
  <h2>What do you want to find?</h2>

  <%= form_tag "/" do %>
  <%= label_tag("Insert word") %>
  <%= text_field_tag(:query) %>
  <%= submit_tag("Search") %>
  <% end %>
<% else %>
  <h2>Please login to start pairing!</h2>
<%end%>

<%= params[:query] == nil ? "Top Suggestions" : "Here's what we found" %>

<% @food.each_with_index do |f, i| %>
  <%= render partial: "suggestion", locals: { food: f, music: @music[i], number: (i+1), suggestion: @suggestions[i]} %>
<% end %>
